<script>
	import '../app.css';
	import { fade, scale, slide } from 'svelte/transition';
	let marketMenu = false;
	let walletMenu = false;
	import Navtop from '$lib/components/Navtop.svelte';
	import Navleft from '$lib/components/Navleft.svelte';
</script>

<Navtop />
<div class="container max-w-8xl mx-auto mt-4 grid grid-cols-12">
	<Navleft />

	<div class="col-span-10 bg-gray">
		<slot />
	</div>
</div>
