<script>
	let deposit = false;
	let withdraw = false;
</script>

<h1 class="text-3xl font-bold underline">Balance: 1000ETH</h1>
<button
	type="button"
	class="m-2 rounded-lg bg-gray-800 px-5 py-1 text-sm font-medium text-white hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700"
	on:click={() => {
		deposit = !deposit;
		withdraw = false;
	}}>Deposit</button
>
<button
	type="button"
	class="m-2 rounded-lg bg-gray-800 px-5 py-1 text-sm font-medium text-white hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700"
	on:click={() => {
		withdraw = !withdraw;
		deposit = false;
	}}>Withdraw</button
>
{#if deposit}
	<img
		class="w-96"
		src="https://media.istockphoto.com/id/1347277582/vector/qr-code-sample-for-smartphone-scanning-on-white-background.jpg?s=612x612&w=0&k=20&c=6e6Xqb1Wne79bJsWpyyNuWfkrUgNhXR4_UYj3i_poc0="
		alt="deposit qr code"
	/>
{/if}
{#if withdraw}
	<p>address: 0xb794f5ea0ba39494ce839613fffba74279579268</p>
	<p>amount: 1 ETH</p>
{/if}

<style lang="postcss">
	:global(html) {
		background-color: theme(colors.gray.100);
	}
</style>
