{#each Array(10) as item}
	<div class="p-1 grid  grid-cols-12 max-w-xl">
		<div class="col-span-1">
			<img
				class="object-cover aspect-square rounded-full"
				src="https://www.looper.com/img/gallery/the-untold-truth-of-v-for-vendetta/l-intro-1645537694.jpg"
				alt="alt"
			/>
		</div>
		<div class="col-span-11">
			<p class="m-1 text-sm text-slate-700 font-medium">userName</p>
			<p class="m-1 text-xs text-slate-500">2022-10-07 10:22</p>
		</div>
		<div class="col-span-12">
			<p class="m-1 text-sm text-slate-900 col-span-12">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, nihil et. Similique
				voluptates mollitia, velit sunt, fugiat, porro soluta autem explicabo ex dolore
				reprehenderit recusandae voluptate cupiditate ab nobis delectus.
			</p>
			<hr class="m-1" />
		</div>
	</div>
{/each}
