<script>
	import { json } from '@sveltejs/kit';
	import { onMount } from 'svelte';
	import { apiData } from './store';
	import { page } from '$app/stores';
	import { browser } from '$app/environment';
	import { fade, scale, slide } from 'svelte/transition';
	import { tweened } from 'svelte/motion';
	import { cubicOut } from 'svelte/easing';

	// export let data;
	// let id = 0;
	let mounted;

	const imgScale = tweened(0, {
		duration: 400,
		easing: cubicOut
	});
	mounted = false;
	onMount(async () => {
		console.log('im mors');
		async function getMarketplace() {
			const response = await fetch('https://dummyjson.com/products?limit=100');
			const data = await response.json();
			console.log('may laman ba before setting');
			console.log($apiData);
			apiData.set(data);
			console.log($apiData);
		}
		await getMarketplace();
		mounted = true;
	});
</script>

<div class="bg-gray grid grid-cols-4 gap-6">
	{#if mounted}
		{#each $apiData.products as product}
			<div>
				<div>
					<img
						class="aspect-square scale-95 rounded-3xl object-cover hover:scale-100"
						src={product.thumbnail}
						alt="desc"
					/>
				</div>
				<p class="text-sm leading-5">{product.title}</p>
				<p class="text-lg font-bold leading-5">{(product.price * 60).toLocaleString()}</p>
			</div>
		{/each}
	{/if}
</div>
