<script>
	import { fade, scale, slide } from 'svelte/transition';
	let marketMenu = false;
	let walletMenu = false;
</script>

<div class="align-items-center col-span-2">
	<div
		class="w-full"
		on:mouseenter={() => {
			marketMenu = !marketMenu;
		}}
		on:mouseleave={() => {
			marketMenu = !marketMenu;
		}}
	>
		<div class="flex justify-center">
			<button class="text-xl">market</button>
		</div>
		{#if marketMenu}
			<ul class="text-md text-center" in:slide out:slide>
				<li><a href="/marketplace">Marketplace</a></li>
				<li>Orders/Cart</li>
				<li>Messages</li>
				<li>Seller Page</li>
				<li>Admin Page x</li>
			</ul>
		{/if}
	</div>

	<div class="flex justify-center">
		<button
			class="w-full text-xl"
			on:mouseenter={() => {
				walletMenu = !walletMenu;
			}}
			on:mouseleave={() => {
				walletMenu = !walletMenu;
			}}><a href="/wallet">wallet</a></button
		>
	</div>
	{#if walletMenu}
		<ul class="text-md text-center" in:slide out:slide>
			<li>Balance</li>
			<li>Deposit</li>
			<li>Withdraw</li>
		</ul>
	{/if}
</div>
