<div class="container max-w-8xl mx-auto mt-4">
	<div class="grid grid-cols-12 gap-4">
		<div class="col-span-2 grid grid-cols-12">
			<div class="col-span-2">
				<img
					class="object-contain aspect-square"
					alt="some alt"
					src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMf4Oky38hG0VrYrvcZH1E5JiRetidFe542-pRDc0gLakSzDQO4NaFM7ntoP0nUuDoL8c&usqp=CAU"
				/>
			</div>
			<div class="col-span-10">
				<span class="text-xl font-bold">opensea.io</span>
			</div>
		</div>
		<div class="col-span-7">
			<form>
				<label
					for="default-search"
					class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label
				>
				<div class="relative">
					<div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
						<svg
							aria-hidden="true"
							class="w-5 h-5 text-gray-500 dark:text-gray-400"
							fill="none"
							stroke="currentColor"
							viewBox="0 0 24 24"
							xmlns="http://www.w3.org/2000/svg"
							><path
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"
								d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
							/></svg
						>
					</div>
					<input
						type="search"
						id="default-search"
						class="block w-full p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
						placeholder="Search Items, Collections and Accounts"
						required
					/>
				</div>
			</form>
		</div>
		<div class="col-span-3 grid">
			<p class="text-md font-bold justify-self-end">profile | wallet | cart</p>
		</div>
	</div>
</div>
