<div class="mx-auto md:container">
	<h1 class="text-3xl font-bold underline">Feature: Login</h1>
</div>

<style lang="postcss">
	:global(html) {
		background-color: theme(colors.gray.100);
	}
</style>
